In [4]:
# 1. Imports
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.dummy import DummyRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import numpy as np

# 2. Load dataset (use your processed/train split)
df = pd.read_csv("/Users/riadanas/Desktop/housing regression MLE/data/processed/feature_engineered.csv")

pd.set_option('display.max_columns', None)  # Show all columns in the output
pd.set_option('display.max_rows', None)     # Show all rows in the output

In [5]:
print(df.shape)
df.head(2)

(795682, 41)

,year,quarter,month,median_sale_price,median_list_price,median_ppsf,median_list_ppsf,homes_sold,pending_sales,new_listings,inventory,median_dom,avg_sale_to_list,sold_above_list,off_market_in_two_weeks,bank,bus,hospital,mall,park,restaurant,school,station,supermarket,Total Population,Median Age,Per Capita Income,Total Families Below Poverty,Total Housing Units,Median Rent,Median Home Value,Total Labor Force,Unemployed Population,Total School Age Population,Total School Enrollment,Median Commute Time,price,lat,lng,zipcode_freq,city_encoded
0,2014,4,12,159900.0,98700.0,114.468864,66.498930,5.0,0.0,6.0,18.0,209.0,0.928091,0.000000,0.200000,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,3187.0,41.4,22328.0,3187.0,1300.0,825.0,142800.0,1612.0,385.0,3101.0,3101.0,1182.0,144196.333365,38.7352,-90.3501,123,172651.841291
1,2016,3,9,215000.0,222900.0,114.774973,116.016713,110.0,105.0,111.0,81.0,44.0,0.990445,0.245455,0.428571,2.0,1.0,0.0,0.0,4.0,13.0,20.0,0.0,5.0,19968.0,32.8,24060.0,19960.0,7502.0,1347.0,161200.0,10726.0,687.0,18678.0,18678.0,9332.0,208628.100288,28.4343,-81.3630,125,244403.845857

In [2]:
# 3. Define target & features
target = "price"   # <-- adjust if your target column has a different name
X = df.drop(columns=[target])
y = df[target]

# 4. Train/Validation split
X_train, X_val, y_train, y_val = train_test_split(
    X, y, test_size=0.2, random_state=42
)

# 5. Baseline Model: Dummy Regressor (predicts mean or median)
baseline = DummyRegressor(strategy="median")
baseline.fit(X_train, y_train)

# 6. Predictions
y_pred = baseline.predict(X_val)

# 7. Metrics
mae = mean_absolute_error(y_val, y_pred)
rmse = np.sqrt(mean_squared_error(y_val, y_pred))
r2 = r2_score(y_val, y_pred)

print(f"Baseline Dummy Regressor (median)")
print(f"MAE: {mae:.2f}")
print(f"RMSE: {rmse:.2f}")
print(f"RÂ²: {r2:.4f}")

Baseline Dummy Regressor (median)
MAE: 204732.89
RMSE: 355533.50
RÂ²: -0.0626

- On average, the baseline are off by â‰ˆ $205k.
- The fact that RMSE is much larger than MAE tells you:
- ðŸ‘‰ there are some very large errors (outliers) in your dataset.
- RÂ² = -0.06 means the median-based model performs slightly worse than always predicting the mean.
- Our dumb baseline (median predictor) has an average error of ~$205k and explains none of the variance in house prices (RÂ² < 0). Any useful ML model should significantly outperform this baseline.